{% extends 'main/base.html' %}
{% load static %}

{% block title %} Add Idea {% endblock %}

{% block content2 %}
<script src="{% static 'js/nav.js' %}" defer></script>
{% endblock %}

{% block nav %}
<div class="header">
  <div class="container">
    <a href="{% url 'home' %}" class="header__logo"></a>
    <a href="{% url 'add_idea' %}" class="header__add-project-button button">
      Добавить идею
    </a>

    {% if user.is_authenticated %}
    <div class="header__profile">
      <button class="header__profile-link">Личный кабинет</button>
      <div class="profile-dropdown">
        <a href="{% url 'profile' user.id %}" class="profile-dropdown__enter">Войти в личный кобинет</a>
        <a href="{% url 'logout' %}" class="profile-dropdown__logout">Выйти</a>
      </div>
    </div>

    {% comment %} <div class="profile-dropdown">
      <div class="profile-dropdown__enter">Войти в личный кобинет</div>
      <div class="profile-dropdown__logout">Выйти</div>
    </div> {% endcomment %}

    {% else %}
    <div class="header__buttons">
      <a href="{% url 'reg' %}" class="header__register-button button">
        Зарегистрироваться
      </a>
      <a href="{% url 'login' %}" class="header__login-button button">Войти</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock nav %}

{% block content %} 
<div class="add-idea">
  <div class="container">
    <div class="add-idea__title">Создать команду</div>
    <form method="POST" class="add-idea__form">
      <!-- {% csrf_token %}
      {% comment %} {{ form }} {% endcomment %}
  
      {{ form.username.label_tag }}
      {{ form.username }}
  
      {{ form.password.label_tag }}
      {{ form.password }}
        -->
      {% csrf_token %}
      <label>Название команды</label>
      <input
        type="text"
        placeholder="Введите Название команды"
        name="title"
        required
      />
      <label>Описание команды</label>
      <textarea
        type="text"
        placeholder="Введите Описание команды"
        name="description"
        required
      ></textarea>
      <button class="login__sign-in">Создать команду</button>
    </form>
  </div>
{% endblock  %}