{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reg</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    {% if file == 'index.html' %}<script src="{% static 'js/script.js' %}" defer></script>{% endif %}
    {% if file == 'reg.html' %}
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/reg.js' %}" defer></script>
    {% endif %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
