{% extends 'main/base.html' %}
{% load static %}

{% block content2 %}
<script src="{% static 'js/nav.js' %}" defer></script>
{% endblock %}

{% block nav %}
<div class="header">
  <div class="container">
    <a href="{% url 'home' %}" class="header__logo"></a>
    <a href="{% url 'add_idea' %}" class="header__add-project-button button">
      Добавить идею
    </a>

    {% if user.is_authenticated %}
    <div class="header__profile">
      <button class="header__profile-link">Личный кабинет</button>
      <div class="profile-dropdown">
        <a href="{% url 'profile' user.id %}" class="profile-dropdown__enter">Войти в личный кобинет</a>
        <a href="{% url 'logout' %}" class="profile-dropdown__logout">Выйти</a>
      </div>
    </div>

    {% else %}
    <div class="header__buttons">
      <a href="{% url 'reg' %}" class="header__register-button button">
        Зарегистрироваться
      </a>
      <a href="{% url 'login' %}" class="header__login-button button">Войти</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock nav %}

{% block content %}
<div class="idea">
  <div class="container">
    <h1 class="idea__title">{{ideas.name}}</h1>
    <h2 class="idea__category">{{ideas.category.name}}</h2>
    <div class="idea__description">
      {{ideas.description}}
    </div>
  </div>
</div>
{% endblock content %}