{% extends 'main/base.html' %}
{% block content %}    
<main class="login">
  <div class="login__logo">
    <div></div>
  </div>
  <h1 class="login__title">Авторизация</h1>
  <form class="login__from">
    <h3 class="login__email-title">Электронная почта</h3>
    <input
      type="email"
      placeholder="Введите почту"
      name="email"
      class="login__email-input"
    />
    <h3 class="login__password-title">Пароль</h3>
    <input
      type="password"
      placeholder="Введите пароль"
      name="password"
      class="login__password-input"
    />
    <button class="login__sign-in">Войти</button>
  </form>
  <div class="login__reg">
    <div class="login__reg-text">
      Впервые здесь? <a href="{% url 'reg' %}"> Создайте аккаунт. </a>
    </div>
  </div>
</main>
{% endblock %}
