{% extends 'main/base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content2 %}
<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/login.js' %}" defer></script>
{% endblock %}

{% block content %}   
<div id="particles-js" class="bg"> 
  <main class="login">
    <div class="login__logo">
      <a href= "{% url 'home' %}"></a>
    </div>
    <h1 class="login__title">Авторизация</h1>

    {% comment %} {% if fail %}
    <div class="login__fail">
      Неправильная почта или пароль.
    </div>
    {% endif %} {% endcomment %}

    {% if form.errors %}
    <div class="login__fail">
      Неправильная почта или пароль.
    </div>
    {% endif %}

    <form method="POST" class="login__from">
      {% csrf_token %}
      {% comment %} {{ form }} {% endcomment %}

      {{ form.username.label_tag }}
      {{ form.username }}

      {{ form.password.label_tag }}
      {{ form.password }}

      {% comment %} <label class="login__email-title">Электронная почта</label>
      <input
        type="email"
        placeholder="Введите почту"
        name="email"
        class="login__email-input"
        required
      />
      <label class="login__password-title">Пароль</label>
      <input
        type="password"
        placeholder="Введите пароль"
        name="password"
        class="login__password-input"
        required
      />
      <input type="checkbox" class="reg__password-show" /> {% endcomment %}
      <button class="login__sign-in">Войти</button>
    </form>
    <div class="login__reg">
      <div class="login__reg-text">
        Впервые здесь? <a href="{% url 'reg' %}"> Создайте аккаунт. </a>
      </div>
    </div>
  </main>
</div>
{% endblock %}
