{% extends 'main/base.html' %}
{% load static %}

{% block title %} {{user.first_name}} {{user.last_name}} {% endblock %}

{% block content2 %}
<script src="{% static 'js/nav.js' %}" defer></script>
{% endblock %}

{% block nav %}
<div class="header">
  <div class="container">
    <a href="{% url 'home' %}" class="header__logo"></a>
    <a href="{% url 'add_idea' %}" class="header__add-project-button button">
      Добавить идею
    </a>

    {% if user.is_authenticated %}
    <div class="header__profile">
      <button class="header__profile-link">Личный кабинет</button>
      <div class="profile-dropdown">
        <a href="{% url 'profile' user.id %}" class="profile-dropdown__enter">Войти в личный кобинет</a>
        <a href="{% url 'logout' %}" class="profile-dropdown__logout">Выйти</a>
      </div>
    </div>

    {% comment %} <div class="profile-dropdown">
      <div class="profile-dropdown__enter">Войти в личный кобинет</div>
      <div class="profile-dropdown__logout">Выйти</div>
    </div> {% endcomment %}

    {% else %}
    <div class="header__buttons">
      <a href="{% url 'reg' %}" class="header__register-button button">
        Зарегистрироваться
      </a>
      <a href="{% url 'login' %}" class="header__login-button button">Войти</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock nav %}

{% block content %}
<div class="profile">
  <div class="profile__title">Профиль</div>
  <div class="profile__subtitle">{{ user.first_name }} {{ user.last_name }}</div>
  <div class="container">
    <div class="profile__ideas">
      <div class="proj__title">Мои идеи</div>
      <div class="proj-item">
        <a href="#" class="proj-item__img-place">
          <div class="proj-item__img"></div>
        </a>
        <div class="proj-item__info">
          <div class="proj-item__specialization">Медицина</div>
          <a href="#" class="proj-item__title">
            <div class="proj-item__img-media"></div>
            <h1>
              Коллаген Viscoll для создания биомедицинских клеточных
              продуктов, трехмерных тканеинженерных конструкций и
              имплантируемых медицинских изделий
            </h1>
          </a>
          <div class="proj-item__description">
            Продукт, биополимерный матрикс на основе коллагена Viscoll,
            предназначен для разработки биомедицинских клеточных продуктов и
            трехмерных тканеинженерных ...
          </div>
          <div class="proj-item__stage">Стадия: <b> Продукт </b></div>
          <div class="proj-item__need">
            Потребности: <b> Партнеры, Инвестиции </b>
          </div>
        </div>
      </div>

      <div class="proj-item">
        <a href="#" class="proj-item__img-place">
          <div class="proj-item__img"></div>
        </a>
        <div class="proj-item__info">
          <div class="proj-item__specialization">Медицина</div>
          <a href="#" class="proj-item__title">
            <div class="proj-item__img-media"></div>
            <h1>
              Коллаген Viscoll для создания биомедицинских клеточных
              продуктов, трехмерных тканеинженерных конструкций и
              имплантируемых медицинских изделий
            </h1>
          </a>
          <div class="proj-item__description">
            Продукт, биополимерный матрикс на основе коллагена Viscoll,
            предназначен для разработки биомедицинских клеточных продуктов и
            трехмерных тканеинженерных ...
          </div>
          <div class="proj-item__stage">Стадия: <b> Продукт </b></div>
          <div class="proj-item__need">
            Потребности: <b> Партнеры, Инвестиции </b>
          </div>
        </div>
      </div>
    </div>
    <div class="profile__info">
      <!-- <button class="profile__logout button">Выйти</button> -->
      <a href="{% url 'home' %}" class="profile__return button">На главную</a>
      <table class="profile__table">
        <tr>
          <th>Элктронная почта</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th>Имя</th>
          <td>{{ user.first_name }}</td>
        </tr>
        <tr>
          <th>Фамилия</th>
          <td>{{ user.last_name }}</td>
        </tr>
      </table>
      {% if user.id != request.user.id %}
      <form method="POST">
        {% csrf_token %}
        <button class="button">Добавить в команду</button>
      </form>
      {% else %}
      <a href="{% url 'add_team' %}" class="button">Создать команду</a>
      {% endif %}
      <div class="profile__teams">
        <div class="profile__teams-title">Мои команды</div>
        {% for item in teams %}
        
        {% endfor %}
        <a href="#" class="profile__team">
          <div class="profile__team-item">{{team.first_name}}</div>
          <div class="profile__team-item">{{team.last_name}}</div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}