{% extends 'main/base.html' %}
{% load static %}

{% block title %} Команда {% endblock %}

{% block content2 %}
<script src="{% static 'js/nav.js' %}" defer></script>
{% endblock %}

{% block nav %}
<div class="header">
  <div class="container">
    <a href="{% url 'home' %}" class="header__logo"></a>
    <a href="{% url 'add_idea' %}" class="header__add-project-button button">
      Добавить идею
    </a>

    {% if user.is_authenticated %}
    <div class="header__profile">
      <button class="header__profile-link">Личный кабинет</button>
      <div class="profile-dropdown">
        <a href="{% url 'profile' user.id %}" class="profile-dropdown__enter">Войти в личный кобинет</a>
        <a href="{% url 'logout' %}" class="profile-dropdown__logout">Выйти</a>
      </div>
    </div>

    {% comment %} <div class="profile-dropdown">
      <div class="profile-dropdown__enter">Войти в личный кобинет</div>
      <div class="profile-dropdown__logout">Выйти</div>
    </div> {% endcomment %}

    {% else %}
    <div class="header__buttons">
      <a href="{% url 'reg' %}" class="header__register-button button">
        Зарегистрироваться
      </a>
      <a href="{% url 'login' %}" class="header__login-button button">Войти</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock nav %}

{% block content %} 
<div class="team">
  <div class="container">
    <div class="team__title">{{team.name}}</div>
    <div class="team__members">

      {% for item in AC %}
      <div class="team__item">
        {% for item2 in item %}
          <div class="team__text">{{item2}}</div>
        {% endfor %}
      </div>
      {% endfor %}

    </div>
    <div class="team__description">{{team.description}}</div>
    <a href="{% url 'users' %}" class="button">Найти участнков</a>
  </div>
</div>
{% endblock  %}