@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/*–––––––––––––––VARIABLES–––––––––––––––*/

:root {
  --text-color: rgba(0, 0, 0, 0.7);
  --main-color: #54cae8;
  --main-color-v2: #56d1c9;
  --sec-color: #54e8b4;
  --sec-color-v2: #50de84;
  --alt-color: rgba(0, 0, 0, 0.5);
  --color-accent-fg: #0969da;
  --alert-color: #E92731;
  --alert-color-v2: #F7555D;

  --font-size-normal: clamp(0.625rem, 0.268rem + 1.14vw, 1.125rem);
  --font-size-title: clamp(1rem, 0.643rem + 1.14vw, 1.5rem);
}

// :root {
//   --text-color: rgb(0, 86, 86);
//   --main-color: #168888;
//   --main-color-v2: #096d6d;
//   --sec-color: #2f9191;
//   --sec-color-v2: #52aaaa;
// }

/*–––––––––––––––mixins–––––––––––––––*/

@mixin input {
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-family: sans-serif !important;
  font-size: 14px;

  &__label{
    display: block;
    // margin-block: 10px;
  }
}

/*–––––––––––––––GLOBAL–––––––––––––––*/

body {
  color: var(--text-color);
  font-family: sans-serif;
  font-weight: 300px;
  font-size: var(--font-size-normal);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  border: 2px solid var(--sec-color);
  padding: 8px 12px;
  border-radius: 5px;
  background-color: transparent;

  font-size: var(--font-size-normal);
  transition: background 0.2s;

  &:hover {
    background: var(--sec-color-v2);
    // background: linear-gradient(45deg, var(--sec-color) 0%, var(--sec-color-v2) 100%);
  }

  &:active {
    filter: drop-shadow(0 0 3px var(--alt-color));
    // background: linear-gradient(45deg, var(--sec-color) 0%, var(--sec-color-v2) 100%);
  }
}

.button2 {
  border: 2px solid var(--alt-color);
  padding: 8px 12px;
  border-radius: 5px;
  background-color: rgb(232, 232, 232);;
  filter: drop-shadow(0 0 3px var(--alt-color));

  font-size: var(--font-size-normal);
  transition: all 0.2s;

  &:hover {
    background: var(--alt-color);
    color: #fff;
  }
}

.input{
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-family: sans-serif !important;
  font-size: 14px;

  &__label{
    display: block;
    // margin-block: 10px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  box-shadow: inset 0 0 0 10px;
  color: rgba(0, 0, 0, 0.4);
}

/*–––––––––––––––dropdown–––––––––––––––*/

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 300px;
  max-height: 210px;
  padding-block: 5px;
  overflow: auto;
  filter: drop-shadow(0 0 10px var(--alt-color));

  &__item {
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: linear-gradient(
        90deg,
        var(--sec-color) 0%,
        var(--sec-color-v2) 100%
      );
    }
  }
}

/*–––––––––––––––HEADER–––––––––––––––*/

.header {
  z-index: 10;
  position: fixed;
  background: #fff;
  filter: drop-shadow(0 0 10px rgba(104, 104, 104, 0.3));
  height: 60px;
  width: 100%;
  top: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  // &__logo {
  // }

  &__add-project-button {
    background: #fff;
    filter: drop-shadow(0 0 10px var(--sec-color));
    background-color: rgb(108, 217, 89);
  }

  &__buttons {
    display: flex;
    gap: 5px;
  }

  // &__register-button {
  // }

  // &__login-button {
  // }

  &__profile {
    position: relative;
  }

  &__profile-link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    transition: all .3s;

    &::before {
      transition: all .3s;
      content: '>';
      position: absolute;
      top: 50%;
      left: -15%;
      transform: translate(0, -50%) rotate(90deg);
      border-radius: 100vh;
    }

    &--active{
      &::before{
        transform: translate(0, -50%) rotate(-90deg);
      }
    }
  }
}

.profile-dropdown {
  display: none;
  background: rgba(0, 0, 0,0.05);
  width: 200px;

  position: absolute;
  top: 20px;
  left: 50%;

  transform: translate(-67%, 0);

  &__enter {
    display: block;
    text-align: center;
    padding-block: 10px;
    padding-inline: 5px;

    transition: all .2s;

    &:hover {
      background: var(--sec-color-v2);
    }
  }

  &__logout {
    display: block;
    text-align: center;
    padding-block: 10px;
    padding-inline: 5px;

    transition: all .2s;

    &:hover {
      background: var(--alert-color-v2);
      color: #fff;
    }
  }
}


/*–––––––––––––––search–––––––––––––––*/

.search-panel {
  padding-top: 30px + 60px;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__search {
    width: 40%;
  }
}

/*–––––––––––––––proj–––––––––––––––*/

.proj {
  padding-top: 50px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__title{
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 700;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-inline: 50px;
    width: 66.6666%;
  }

  &__filters {
    width: 33.3333%;
  }
}
.proj-item {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-grow: 1;
  border-radius: 25px;

  @media (max-width: 986px) {
    &__img-place {
      display: none !important;
    }

    &__img-media {
      width: 33.33333%;
      height: 0;
      padding-top: 33.33333%;
      background: rgba(0, 0, 0, 0.3);
    }

    &__title {
      position: relative;
      content: ''; /* содержимое псевдоэлемента */
      width: 100%; /* ширина элемента */
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      h1 {
        flex-grow: 1;
        width: 66.66666%;
      }
    }
  }

  &__img-place {
    width: 33.3333%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    width: 66.6666%;
  }

  &__specialization {
    font-family: 'Montserrat';
  }

  &__title {
    h1 {
      font-weight: 700;
      font-size: var(--font-size-title);
    }
  }

  &__description {
    font-size: calc(var(--font-size-normal) + 2px);
  }

  // &__stage {
  // }

  // &__need {
  // }
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 6%;
  padding-left: 2%;

  &__need {
    display: block;
  }

  &-active {
    position: fixed;
    top: 10%;
    right: 0;
    // padding: 0;
  }

  &__specialization {
    display: block;
  }

  &__buttons {
    display: flex;
    gap: 50px;
  }

  // &__accept {
  // }

  &__reset {
    background: transparent;
    color: rgba(104, 104, 104);
    position: relative;
    font-size: var(--font-size-normal);

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      background: url(../img/x-solid.svg) center/80% no-repeat;
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translate(0, -50%);
    }
  }
}
@media (max-width: 768px) {
  .filter {
    display: none;
    position: absolute !important;
    right: 0;
    background: #fff;
    padding-block: 20px;
    // filter: drop-shadow(0 0 10px var(--alt-color));
    width: 40%;
    // &__buttons {
    //   // gap: 10px;
    // }
  }
  .proj__main {
    width: 100%;
    padding-inline: 10px;
  }
  .mobile-filter {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/filter-solid.svg) center/90% no-repeat;
  }
}

@media (max-width: 460px) {
  .filter {
    width: 60%;
  }
  .proj-item {
    padding: 10px;
    &__title {
      flex-direction: column !important;
      align-items: flex-start;
      h1 {
        width: 100%;
      }
    }
  }
  .header__register-button {
    display: none;
  }
}

.hidden {
  display: flex;
}

/*––––––––––––––––––––––––––––––*/
/*–––––––––––––––LOGIN–––––––––––––––*/
/*––––––––––––––––––––––––––––––*/

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  gap: 20px;
  width: 320px;
  margin: auto;

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);

  &__logo {
    div {
      background: rgba(0, 0, 0, 0.1) center no-repeat;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin: auto;
    }
  }

  &__title {
    font-weight: 300;
    font-family: 'Montserrat';
    font-size: 24px;
    text-align: center;
  }

  &__from {
    background: #edfcf2;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;

    border: 1.5px solid rgba(0, 0, 0, 0.1);
  }

  // &__email-title {
  // }

  // &__email-input {
  //   margin-bottom: 10px;
  //   @include input();
  // }

  // &__password-title {
  // }

  // &__password-input {
  //   border-radius: 4px;
  //   @include input();
  // }

  input {
    @include input();
  }

  &__sign-in {
    color: #fff;
    background: #31a853;
    padding-block: 8px;
    border-radius: 4px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
    margin-top: 20px;

    &:hover {
      background: #2c974b;
    }
  }

  &__reg {
    background: #fff;
    padding-block: 20px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 15%;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
  }

  &__reg-text {
    a {
      color: var(--color-accent-fg);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__fail {
    padding-block: 20px;
    border-radius: 4px;
    text-align: center;
    background: #ffebe9;
    border: 1.5px solid #ffc2c1;
  }
}

/*––––––––––––––––––––––––––––––*/
/*–––––––––––––––REGISTER–––––––––––––––*/
/*––––––––––––––––––––––––––––––*/

.reg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  gap: 20px;
  width: 320px;
  margin: auto;

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);

  &__title {
    text-align: center;
    font-weight: 300;
    font-family: 'Montserrat';
    font-size: 24px;
  }

  &__form {
    background: #edf9fc;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;

    border: 1.5px solid rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  // &__email-title {
  // }

  // &__email-input {
  //   @include input();
  //   margin-bottom: 17px;
  // }

  // &__password-title {
  // }

  // &__password-input {
  //   @include input();
  // }

  &__password-show {
    margin-bottom: 5px;
    height: 15px;
    width: 15px;
    margin-left: 4px;
    // text-align: left;
    position: relative;

    &::after {
      content: 'Показать пароль';
      position: absolute;
      top: 0;
      right: -110px;
      color: var(--text-color);
    }
  }

  // &__name-title {
  // }

  // &__name-input {
  //   @include input();
  //   margin-bottom: 17px;
  //   display: block;
  // }

  // &__surname-title {
  // }

  // &__surname-input {
  //   @include input();
  //   margin-bottom: 17px;
  // }

  &__submit {
    display: block;

    color: #fff;
    background: #31a8a8;
    padding-block: 8px;
    border-radius: 4px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
    margin-top: 15px;

    &:hover {
      background: #2c8297;
    }
  }

  &__logn {
    padding-block: 20px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 15%;
    background: #fff;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
  }

  &__login-text {
    a {
      color: var(--color-accent-fg);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bg {
  height: 100%;
  width: 100%;
  z-index: -10;
  overflow: hidden;
}

.particles-js-canvas-el {
  z-index: -10;
  height: 100% !important;
  width: 100% !important;
}

.errorlist{
  color: #ff4040;
}

/*––––––––––––––––––––––––––––––*/
/*–––––––––––––––PROFILE–––––––––––––––*/
/*––––––––––––––––––––––––––––––*/


.profile {

  // &__return{
  // }

  &__title{
    text-align: center;
    padding-top: 10px;
    font-size: 32px;
    font-weight: 700;
  }

  &__subtitle{
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
  }

  .container {
    display: flex;
    margin-top: 10px;
  }

  &__ideas {
    width: 60%;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__info {
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    // justify-content: center;
  }

  &__logout {
    border-color: var(--alert-color-v2);
    background: #fff;
    filter: drop-shadow(0 0 3px var(--alert-color-v2));

    &:hover{
      background: var(--alert-color-v2);
      border-color: var(--text-color);
      color: #fff;
    }
  }

  &__table {
    text-align: center;


    tr{
      th {
        padding: 10px;
        border: 1px solid #000;
      }
  
      td{
        padding: 10px;
        border: 1px solid #000;
      }
    }
  }

  @media (max-width: 768px) {

    .container {
      flex-direction: column-reverse;
      gap: 30px;
    }

    &__ideas {
      width: 100%;
    }
  
    &__info {
      width: 100%;
    }
  }
}

/*––––––––––––––––––––––––––––––*/
/*–––––––––––––––ADD_IDEA–––––––––––––––*/
/*––––––––––––––––––––––––––––––*/

.add-idea {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &__title{
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 700;
    padding-block: 40px;
  }

  &__form {
    background: #edfcf2;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    width: 80%;

    border: 1.5px solid rgba(0, 0, 0, 0.1);

    input {
      @include input();
    }

    textarea{
      resize: none;
      @include input();
      height: 10vh;
    }

    select {
      @include input();
    }
  }
}


